[Unit]
Description=Tunneldigger L2TPv3 (instance %I)
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/srv/tunneldigger/start.sh "%I" --syslog-level info --syslog-ident tunneldigger@%I
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
